:root {
  --page-gap: 30px;
  --page-text-color: rgb(117, 117, 117);
  --page-bgcolor: rgb(47, 48, 58);
  --page-color-first: rgb(255, 255, 255);
  --page-color-second: rgb(33, 150, 243);
}
.page {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--page-text-color);
}
.text-style {
  margin-top: 0;
  margin-bottom: 0;
}
.lists-style {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.pics-style {
  display: block;
  width: 100%;
  height: auto;
}
/* ===== General Classes ===== */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.page-button {
  border: none;
  border-radius: 4px;
  padding: 10px 0 10px 0;
  width: 200px;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;

  color: var(--page-color-first);
  background-color: var(--page-color-second);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-button:hover,
.page-button:focus {
  background-color: rgb(24, 140, 232);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: rgb(33, 33, 33);
}
.title--in-bottom {
  margin-bottom: 50px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* ===== END General Classes ===== */

/*======= Header =======*/
.section--in-top {
  padding-top: 0;
  padding-bottom: 0;

  border-bottom: 1px solid rgb(236, 236, 236);
}
.page-header {
  display: flex;
  align-items: center;
}
/*== Logo ==*/
.logo {
  width: 145px;
  padding: 24px 0 25px 0px;

  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--page-color-second);
}
.logo__text {
  color: rgb(0, 0, 0);
}
/*== Navigation ==*/
.nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav--in-left {
  margin-left: 93px;
}
.nav__list {
  display: flex;
}
.nav__item:not(:first-child) {
  margin-left: 50px;
}
.nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;

  color: rgb(33, 33, 33);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--page-color-second);
}
.nav__link--active {
  color: var(--page-color-second);
}
.nav__link--active::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--page-color-second);
}
/* ===== END Navigation ===== */
/*== Contacts ==*/
.contacts {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts--in-left {
  margin-left: auto;
}
.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;

  text-decoration: none;

  color: inherit;
  fill: var(--page-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--page-color-second);
  cursor: pointer;
  fill: var(--page-color-second);
}
.contacts__item:nth-child(2) {
  margin-left: 30px;
}
.contacts__icon--start {
  margin-right: 10px;
}
/* ===== END Contacts ===== */
/* ======= END Header ======= */

/*======== Footer =========*/
.section--in-bottom {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--page-bgcolor);
}
.logo--in-bottom {
  margin-bottom: 20px;
  padding: 0 0;
}
.logo__text--white {
  color: var(--page-color-first);
}
.page-footer {
  display: flex;
  align-items: baseline;
}
.address-box {
  display: flex;
  flex-direction: column;
}

.post {
  font-style: normal;
}
.post__item:not(:last-child) {
  margin-bottom: 9px;
}
.post__office {
  text-decoration: none;

  color: var(--page-color-first);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.post__link {
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.post__link:hover,
.post__link:focus,
.post__office:hover,
.post__office:focus {
  color: var(--page-color-second);
}
.links-box--in-left {
  margin-left: 70px;
}
.links-box__title {
  margin-bottom: 20px;

  font-weight: 700;
  text-transform: uppercase;

  color: var(--page-color-first);
}
.subscr-box--in-left {
  margin-left: auto;
}
.subscr-box__title {
  margin-bottom: 20px;

  font-weight: 700;
  text-transform: uppercase;

  color: var(--page-color-first);
}
.email-form {
  display: flex;
}
.email-form__cell {
  width: 358px;
  height: 50px;

  border-radius: 4px;

  padding: 15px 16px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-form__cell::placeholder {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-form__cell:hover::placeholder,
.email-form__cell:focus::placeholder {
  color: var(--page-color-second);
}
.email-form__cell:hover,
.email-form__cell:focus {
  border-color: var(--page-color-second);
  color: var(--page-color-first);
  outline: none;
}
.email-form__icon {
  width: 24px;
  height: 24px;
}
.email-form__icon--end {
  margin-left: 10px;
}
.email-form__button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}
/*====== END Footer ======*/

/*=========== Main ============*/
/*======== Hero =========*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/hero-bg.jpg);
  background-color: var(--page-bgcolor);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--page-color-first);
}
.hero__title--in-bottom {
  margin-bottom: var(--page-gap);
}

/* ===== END Hero ===== */
/*===== Section benefits =====*/
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.benefits-list__item {
  flex-basis: calc(100% / 4 - var(--page-gap));
  margin-top: var(--page-gap);
  margin-left: var(--page-gap);
}
.benefits-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: rgb(245, 244, 250);
  border-radius: 4px;
}
.benefits-list__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}
/*===== END Section benefits =====*/
/*==Section Workshop==*/
.workshop {
  padding-top: 0;
}
.workshop-list {
  display: flex;
}

.workshop-list__item:not(:first-child) {
  margin-left: var(--page-gap);
}
.workshop-list__item {
  position: relative;
}
.workshop-list__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  position: absolute;
  bottom: 0;
  left: 0;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--page-color-first);
  background-color: rgba(47, 48, 58, 0.8);
}
/*==== END Section Workshop =====*/
/*===== Section Team ======*/

.team {
  background-color: rgb(245, 244, 250);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.team-list__item {
  flex-basis: calc(100% / 4 - var(--page-gap));
  margin-top: var(--page-gap);
  margin-left: var(--page-gap);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  background-color: rgb(255, 255, 255);
}
.team-list__box {
  padding-top: var(--page-gap);
  padding-bottom: var(--page-gap);
}
.team-list__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: rgb(33, 33, 33);
}
.team-list__desc {
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-list__item:not(:first-child) {
  margin-left: 10px;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;

  fill: rgb(175, 177, 184);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__icon {
  width: 20px;
  height: 20px;
}
.social-list__link:hover,
.social-list__link:focus {
  fill: var(--page-color-first);
  background-color: var(--page-color-second);
}

.social-list__link--design {
  border-radius: 50% 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list__icon--fill {
  fill: var(--page-color-first);
}
/*===== END Section Team ======*/
/* === Section Clients === */

.clients-list {
  display: flex;
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  fill: rgb(175, 177, 184);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover,
.clients-list__link:focus {
  fill: var(--page-color-second);
  border-color: var(--page-color-second);
}
.clients-list__item:not(:first-child) {
  margin-left: var(--page-gap);
}
/* === END Section Clients === */
/* ====== END Main ====== */

/*=== Portfolio ===*/
/*== Search buttons ==*/
.search-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.search-list__button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  color: rgb(33, 33, 33);
  background-color: rgb(245, 244, 250);

  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.search-list > .search-list__item:not(:last-child) {
  margin-right: 8px;
}
.search-list__button--active {
  color: var(--page-color-first);
  background-color: var(--page-color-second);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.search-list__button:hover,
.search-list__button:focus {
  color: var(--page-color-first);
  background-color: var(--page-color-second);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*===== END Search buttons =====*/
/*=======Portfolio list=======*/
.portfolio-list {
  margin-top: calc(-1 * var(--page-gap));
  margin-left: calc(-1 * var(--page-gap));
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}
.portfolio-link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__item {
  flex-basis: calc(100% / 3 - var(--page-gap));
  margin-top: var(--page-gap);
  margin-left: var(--page-gap);
}
.portfolio-link__box {
  padding-top: 20px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 19px;
  border: 1px solid rgb(238, 238, 238);
  border-top: none;
}
.portfolio-link__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: rgb(33, 33, 33);
}
.portfolio-link__desc {
  font-size: 16px;
  line-height: 1.87;

  color: rgb(117, 117, 117);
}
.portfolio-link__desc--end {
  margin-top: 4px;
}
.portfolio-link__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-link__overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;

  width: 100%;
  height: 100%;

  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 1.56;

  color: var(--page-color-first);
  background: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-link__overlay,
.portfolio-link:focus .portfolio-link__overlay {
  transform: translateY(-100%);
}
/* ===== END Portfolio list ====== */
/* ======= Backdrop ======= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px 39px 40px 41px;
  min-width: 528px;
  min-height: 581px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.4);
}
.modal__close-bt {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background: transparent;
  fill: rgb(0, 0, 0);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-bt:hover,
.modal__close-bt:focus {
  fill: var(--page-color-second);
}
/* ====== Modal Form ======= */

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__title {
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
}
.modal-form__box:not(:last-child) {
  margin-bottom: 10px;
}
.modal-form__box:nth-child(6) {
  margin-bottom: 30px;
}
.modal-form__box:nth-child(5) {
  margin-bottom: 20px;
}
.modal-form__name {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form__wrap {
  display: block;
  position: relative;
}
.modal-form__cell {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__cell:hover,
.modal-form__cell:focus {
  outline: none;
  border-color: var(--page-color-second);
}
.modal-form__cell:hover + .modal-form__icon,
.modal-form__cell:focus + .modal-form__icon {
  fill: var(--page-color-second);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  fill: rgb(33, 33, 33);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__area {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__area:hover,
.modal-form__area:focus {
  outline: none;
  border-color: var(--page-color-second);
}
.checkbox__cell {
  position: absolute;
  appearance: none;
  -moz-appearance: none;
  -webkin-appearance: none;
}
.checkbox__icon-off {
  position: absolute;
  width: 16px;
  height: 15px;
  border-radius: 2px;

  background-color: transparent;
}
.checkbox__icon-on {
  position: absolute;

  width: 16px;
  height: 15px;
  border-radius: 2px;

  z-index: 1;

  fill: var(--page-color-first);
  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox__cell:checked + .checkbox__icon-on {
  background-color: var(--page-color-second);
}
.checkbox__contract {
  color: var(--page-color-second);
  cursor: pointer;
}
.checkbox__wrap {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  cursor: pointer;
}
.checkbox__cell:focus + .checkbox__icon-on {
  outline: 1px solid rgba(0, 0, 0);
}
.modal-form__button {
  margin: 0 auto;
}
/* ====== END Modal Form ====== */
/* ======= END Backdrop ======= */
