.workshop {
  padding-top: 0;
}
.workshop-list {
  display: flex;
}

.workshop-list__item:not(:first-child) {
  margin-left: var(--page-gap);
}
.workshop-list__item {
  position: relative;
}
.workshop-list__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  position: absolute;
  bottom: 0;
  left: 0;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--page-color-first);
  background-color: rgba(47, 48, 58, 0.8);
}
